<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="row" >
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Empolyee Code</label>
                    <input type="text" class="form-control" name="empcode" [(ngModel)]="empcode">
                </div>

                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    
                   <button class="btn btn-success" (click)="readValue()">Search</button>
                </div>
            </div>
<div class="row g-3" *ngFor="let j of searchEmployees">
   
    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
        <label for="" class="form-label">Employee Name</label>
        <input type="text" class="form-control" value="{{j.empname}}">
    </div>
    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
        <label for="" class="form-label">Designation</label>
        <input type="text" class="form-control" value="{{j.designation}}">
    </div>
    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
        <label for="" class="form-label">Salary</label>
        <input type="text" class="form-control" value="{{j.salary}}">
    </div>
    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
        <label for="" class="form-label">Company Name</label>
        <input type="text" class="form-control" value="{{j.companyname}}">
    </div>
    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
        <label for="" class="form-label">Mobile No</label>
        <input type="text" class="form-control" value="{{j.mobno}}">
    </div>
    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
        <label for="" class="form-label">Username</label>
        <input type="text" class="form-control" value="{{j.username}}">
    </div>
    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
        <label for="" class="form-label">Password</label>
        <input type="text" class="form-control" value="{{j.password}}">
    </div>
    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
    <button (click)="deleteBtnClick(j.id)" class="btn btn-danger">Delete</button>
    </div>

</div>
        </div>
    </div>
</div>
