<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="row mt-4">
        <table class="table">
            <thead>
              <tr >
                <th scope="col">Employee Code</th>
                <th scope="col">Employee Name</th>
                <th scope="col">Designation</th>
                <th scope="col">Salary</th>
                <th scope="col">Company Name</th>
                <th scope="col">Mobile no</th>
                <th scope="col">Username</th>
                <th scope="col">Password</th>
               
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i of data">
                <td>{{i.empcode}}</td>
                <td>{{i.empname}}</td>
                <td>{{i.designation}}</td>
                <td>{{i.salary}}</td>
                <td>{{i.companyname}}</td>
                <td>{{i.mobno}}</td>
                <td>{{i.username}}</td>
                <td>{{i.password}}</td>
                
                

                
               
              </tr>
             
            </tbody>
          </table>
    </div>
</div>
